{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["defaults", "not dead", "not ie < 11", "not op_mini all"]
        },
        "modules": false,
        "corejs": 3,
        "useBuiltIns": "usage"
      }
    ]
  ]
}
